#contact-wrapper {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;

}

tr {
    border-top: 1px solid #aaaa;
}

td {
    text-align: left;
    padding: 12px;
}

tbody td:nth-child(1) {
    width: 37px;
}

tbody td:nth-child(2) {
    display: flex;
    justify-content: center;
    text-align: center;
}


