.contact-list-wrapper {
    margin: 16px;
}

.contacts, #input-search, .checkbox-wrapper {
    margin-bottom: 12px;

}

#input-search {
    width: 100%;
    padding: 12px 16px;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    outline: none;
    color: rgba(255, 255, 255, 1);
}

#input-search:active:focus {
    outline: none;
}

#input-search:hover {
    background-color: rgba(255, 255, 255, 0.25);
}

::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.checkboxes {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 12px;
    margin: 0px 12px;
}

.checkbox-wrapper {
    display: flex;
    gap: 8px;
}

input[type="checkbox"] {
    border: 1px solid white;
    border-radius: 0.15em;
    background-color: #fff;
    accent-color: pink;
}